<section class="hero is-fullheight has-text-centered" id="project">
  <div class="hero-body">
    <div class="container">
      <hr>
        <div class="section">
          <p class="subtitle is-2 is-uppercase has-text-weight-medium has-text-grey">Project</p>
        </div>
        <div class="column">
          <figure class="image">
              <img src="/assets/images/project/project.png">
          </figure>
        </div>
        <div class="column">
          <table class="table">
            <tbody>
              <tr>
                <th>1</th>
                <td><strong>Project title:</strong></td>
                <td>Additively Manufactured Optimized 3D Printed Steel Structures</td>
              </tr>
              <tr>
                <th>2</th>
                <td><strong>Project ID:</strong></td>
                <td>02779</td>
              </tr>
              <tr>
                <th>3</th>
                <td><strong>Project Acronym:</strong></td>
                <td>AMOSS</td>
              </tr>
              <tr>
                <th>4</th>
                <td><strong>Starting date:</strong></td>
                <td>01/06/2022</td>
              </tr>
              <tr>
                <th>5</th>
                <td><strong>Duration in months:</strong></td>
                <td>36</td>
              </tr>
              <tr>
                <th>6</th>
                <td><strong>Action:</strong></td>
                <td>2nd Call for H.F.R.I. Research Projects to support Faculty Members and Researchers</td>
              </tr>
              <tr>
                <th>7</th>
                <td><strong>Scientific area:</strong></td>
                <td>SA8. Environment & Energy</td>
              </tr>
              <tr>
                <th>8</th>
                <td><strong>Scientific Field:</strong></td>
                <td>8.9 Circular economy</td>
              </tr>
              <tr>
                <th>9</th>
                <td><strong>Keywords:</strong></td>
                <td>Additive manufacturing,Topology optimization,Steel structures,Experimental testing,Nonlinear finite element method</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</section>      
